* {
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

a {
	text-decoration: none
}

a,
a:hover {
	transition: background 0.5s linear;
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
}

em,
i {
	font-style: normal;
}

ul,
ol,
li {
	list-style: none;
}

img {
	border: none;
	vertical-align: middle;
}

input,
select,
textarea {
	outline: none;
	border: none;
	background: none;
}

textarea {
	resize: none;
}

body::-webkit-scrollbar {
	display: none;
}

.wrapall {
	width: 100%;
	position: relative;
}

.imgall {
	width: 100%;
}

.codeimg {
	width: 1.5rem;
	height: 1.5rem;
	position: absolute;
	z-index: 222;
	top: 1.98rem;
	left: 0.48rem;
}

.downbtn {
	width: 1.75rem;
	line-height: 0.5rem;
	border: 0;
	text-align: center;
	position: absolute;
	z-index: 222;
	top: 2.15rem;
	left: 2.22rem;
	background: #fff;
	font-size: 0.24rem;
	color: #187ade;
	border-radius: 0.1rem;
}

.bbp1 {
	position: absolute;
	z-index: 222;
	top: 2.75rem;
	left: 2.22rem;
	font-size: 0.20rem;
	color: #fff;
}

.bbp1 span {
	padding-right: 0.2rem;
}

.bbp2 {
	position: absolute;
	z-index: 222;
	top: 3.05rem;
	left: 2.22rem;
	font-size: 0.20rem;
	color: #fff;
}

.coverPic {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 223;
}